.oddsValue {
    background-color: rgb(226, 255, 226)
}

.oddsHighValue {
    background-color: rgb(123, 235, 123)
}

.oddsSuperValue {
    background-color: rgb(31, 161, 4)
}

.layValue {
    background-color: #FAE8E8;
}

.layHighValue {
    background-color: #F6AEAE;
}

.laySuperValue {
    background-color: #F67474
}

.color-key {
    border: 1px solid black;

    vertical-align: top;
    text-align: center;
    padding: 20px;
    flex: auto;
    margin: 0% 1% 2% 1%;
}