.no-fixture-container {
    position: relative;
    text-align: center;
}

.no-fixture-content {
    position: absolute;
    left: 40%;
    top: 50%;
    font-size: 3rem;
    color: azure;
    line-height: 4rem;
}